@import 'normalize.scss';

html, body {
	margin: 20px;
}

label {
	width:100px;
	display:inline-block;
}
/* ==========================================================================
   Data Grid Tables
   ========================================================================== */
table.grid { width: 100%; font-size: .75em; } /* font-size: 12 % 16 */
table.grid button:disabled { background: #999 }

table.grid th, table.grid td { margin: 0; padding: 6px 8px; background: #fff; border: 1px solid #d9d9d9; }
table.grid th { padding: 0; background: #e5e5e5; font-family: 'robotobold', Helvetica, 'Helvetica Neue', Arial; font-weight: normal; text-align: left; white-space: nowrap; }
table.grid th a, table.grid th.sorting-table { display: block; padding: 6px 8px; color: #0d0d0d; }
table.grid th.sorting-table {display:table-cell;}
table.grid th.no-actions { border-top: none; }
table.grid th.centered { text-align: center; }

table.grid td { vertical-align: top; }
table.grid td.name, table.grid label.name { padding: 0; font-family: 'robotobold', Helvetica, 'Helvetica Neue', Arial; }
table.grid td a { display: block; padding: 6px 8px; outline: none; }

table.no-sort { margin-bottom: 10px; }
table.no-sort th { padding: 6px 8px; }

table.two-col td:nth-child(1) { width: 10%; }
table.two-col td:nth-child(2) { width: 90%; }

table.two-col-even td:nth-child(1) { width: 50%; }
table.two-col-even td:nth-child(2) { width: 50%; }

table.three-col td:nth-child(1) { width: 15%; }
table.three-col td:nth-child(2) { width: 15%; }
table.three-col td:nth-child(3) { width: 70%; }
table.three-col.grades td:nth-child(2) { width: 5%; }
table.three-col.grades td:nth-child(3) { width: 80%; }

table.four-col td:nth-child(1) { width: 5%; }
table.four-col td:nth-child(2) { width: 10%; }
table.four-col td:nth-child(3) { width: 10%; }
table.four-col td:nth-child(4) { width: 75%; }

table.grid input[type=text], table.grid input[type=number], table.grid.grades textarea { display: block; margin: 0 auto; padding: 7px 0 0 0; width: 100%; font-size: 1em; text-align: left; border: none; -webkit-appearance: none; -moz-appearance: inherit; outline: none; }

table.grid.grades textarea{  height: 100%; min-height: 26px; padding-top:0;}

table.grid button { position: absolute; right: 8px; margin: 2px 0 0 0; padding: 5px 8px 4px 8px; min-width: 55px; color: #f2f2f2; background: #cc092f; border: none; -webkit-appearance: none; -webkit-border-radius: 2px; border-radius: 2px; vertical-align: middle; } /* font-size: 12 % 16 */

table.grid select { display: inline-block; margin-top: -3px; padding: 2px 0; vertical-align: middle; }