@import 'normalize.scss';

html, body {
	margin: 20px;
}

#content {
	width: 500px;
}
.ember-list-view {
	border: 1px solid #999;
	overflow: auto;
	position: relative;
}
.ember-list-item-view {
	position: absolute;
	width: 100%;
	height: 35px;
	padding-top: 15px;
	margin: 0;
	border-bottom: 1px solid #aaa;
}
.pull-right {
	float: right;
}