<h2>Welcome</h2>

<p>Try loading the Agents data from your backend at http://localhost:3000 and verifying it is in the IndexedDB</p>

<p>If that works, reload the app at the root, turn off the back end, and navigate to Agents. The data should be pulled from the browsers IndexedDB</p>

<p>Lastly, build for Cordova and test on your favoriate mobile device</p>
